<header>
<div class="container welcome" >
  <div class="welcome-content">
    <h1>Simulate The Spread of Traits Across The World</h1>
    <h3>With this app, you can change variables for traits or diseases, and simulate how they would spread around the world throughout each generation</h3>
    <a class="btn btn-primary btn-xl page-scroll" href="#about">Find Out More</a>
  </div>
</div>
</header>

<div id="container about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <h2 class="section-heading">Try It Out!</h2>
        <hr class="light">
        <p class="text-faded">By changing the variables below the map, you will be able to click the go button and you'll be able to see how changing variables will affect the way our genetic algorithm works!</p>
        <%= link_to "Let's Do It!", '/map', class: "btn btn-default btn-xl" %> 
      </div>
    </div>
  </div>
</div>
