<div class="container welcome" >
<h1>Simulate The Spread of Traits Across The World</h1>
<h3>With this app, you can change variables for traits or diseases, and simulate how they would spread around the world throughout each generation</h3>
</div>
