<header>
<div class="container welcome" >
  <div class="welcome-content">
  <h1>Simulate The Spread of Traits Across The World</h1>
  <h3>With this app, you can change variables for traits or diseases, and simulate how they would spread around the world throughout each generation</h3>
  <a class="btn btn-primary btn-xl page-scroll" href="#about">Find Out More</a>
  </div>
</div>
</header>
