
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-6">

      <div class="card hovercard">
        <div class="cardheader">

        </div>
        <div class="avatar">
          <%= image_tag @user.image, :title => "title" %>
        </div>
        <div class="info">
          <div class="title">
            <h2> <%= @user.nickname %></h2>
          </div>
          <div class="desc">Passionate designer</div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div>
        </div>
        <div class="bottom">
          <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
            <i class="fa fa-twitter"></i>
          </a>
       </div>
      </div>

    </div>

  </div>
</div>
