<div class="container">
<div class="row">
  <div id="simulator">
    <div id='map' class='dark'></div>
    <div id="controls">
      <p>Click the county on the map where the infection will start</p>
    </div>
  </div>
</div>
</div>
