<div class="container">
<div class="row">
  <div id="simulator">
    <div id='map' class='dark'></div>
    <div id="controls">
      <form action="">
        <input type="checkbox" name="vehicle" value="Car">Vaccinations
        <input type="checkbox" name="vehicle" value="Car">Airborn
        <input type="checkbox" name="vehicle" value="Car">Slightly Contagious
        <input type="checkbox" name="vehicle" value="Car">Very Contagious
        <input type="checkbox" name="vehicle" value="Car">EVERYONE WILL DIE
      </form>
      <%= link_to "GO!", "#", class: "btn btn-go btn-xl" %>
    </div>
  </div>
</div>
</div>
