<div class="container">
<div class="row">
  <div id="simulator">
    <div id="map">
      <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/xvalentino.lol862f5/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoieHZhbGVudGlubyIsImEiOiJ5dG43MDFjIn0.tEQIYibYnwUQNhCg1v0jtw'></iframe>
    </div>
    <div id="controls">
      <form action="">
        <input type="checkbox" name="vehicle" value="Car">Vaccinations
        <input type="checkbox" name="vehicle" value="Car">Airborn
        <input type="checkbox" name="vehicle" value="Car">Slightly Contagious
        <input type="checkbox" name="vehicle" value="Car">Very Contagious
        <input type="checkbox" name="vehicle" value="Car">EVERYONE WILL DIE
      </form>
    </div>
    <%= link_to "GO!", "#", class: "btn btn-default btn-xl" %>
  </div>
</div>
</div>
